# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
lesson/node_modules
exercises/node_modules
lesson/.pnp
exercises/.pnp
lesson/.pnp.js
exercises/.pnp.js

# testing
lesson/coverage
exercises/coverage

# production
lesson/build
exercises/build

# misc
lesson/.DS_Store
exercises/.DS_Store
lesson/.env.local
exercises/.env.local
lesson/.env.development.local
exercises/.env.development.local
lesson/.env.test.local
exercises/.env.test.local
lesson/.env.production.local
exercises/.env.production.local


lesson/npm-debug.log*
exercises/npm-debug.log*
lesson/yarn-debug.log*
exercises/yarn-debug.log*
lesson/yarn-error.log*
exercises/yarn-error.log*
